ul {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 0.5rem;
}

button {
    justify-self: center;
}

li {
    display: flex;
    align-items: center;
    padding: 2px;
    border: 1px solid gray;
    border-style: solid none solid none;
}
