.container {
    padding: 2rem;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 1rem;
}

aside {
    display: grid;
    gap: 0.5rem;
}

.header {
    display: flex;
    justify-content: space-between;
}
